---
title: IIIF Timeliner - Home
---
<div class="homepage">
    <h1>IIIF Timeliner</h1>
    <p>
        Timeliner is a reimplementation of Variations Audio Timeliner as a web
        application, using the IIIF Presentation API 3.0. As with the original
        version, developed as a part of the Variations Digital Music Library
        System, it is an audio annotation and analysis tool for creating and
        labeling bubble diagrams. These diagrams can be used to navigate music
        or other audio for detailed study.
    </p>
    <p>
        In addition to its use as a standalone application, the Timeliner is
        available as integrated feature within the successor to Variations,
        Avalon Media System. Avalon users can create new bubble diagrams
        directly from item pages within their Avalon instance and edit, share
        and copy timelines across all items in the repository.
    </p>
    <a href="/app/index.html">Click here to access the Timeliner</a>
</div>
