.volume-slider-compact {
  width: 160px;
  position: relative;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;

  &__muter {
    margin: 0 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
